venv/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

.env
.env.*
!.env.example

data/
notebook/
*.ipynb

.git/
.gitignore
.idea/
.vscode/
*.md
.python-version
runtime.txt
